@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: "barberp";
    src: url(fonts/BrightnessInverted.ttf) format(opentype);
}
@font-face {
    font-family: "docktrin";
    src: url(fonts/docktrin.ttf) format(truetype);
}
:root{
    --cor1: #FFE545;
    --cor2: #FFCE45;
    --cor3: #FFB745;
    --cor4: #FF9A45;
    --cor5: #FF7945;
    --fontpadrao: Arial, Helvetica, sans-serif;
    --fonttextos: "Crimson Text", serif;
    --fonttextos2: "docktrin";
    --fontetitulo2: "barberp";
    scroll-behavior: smooth;
}
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}
.crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (min-width: 720px){
body{
    
    font-family: var(--fontpadrao);
    font-family: var(--fonttextos);
    margin: 0px;
    font-size: 2vw;
    background-color: rgb(39, 38, 38);
}
header{
    background-image: linear-gradient(to bottom, black, rgb(39, 38, 38));
}
#logot{
    text-align: center;
    margin: auto;
}
#titulop{
    background: -webkit-linear-gradient(50deg, #f7e04d, #ff5202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    font-family: var(--fontetitulo2);
    text-align: center;
    font-size: 8vw;
    margin: 2px;
}
nav{
    text-align: center;
    font-family: var(--fonttextos2);
    margin-bottom: 5px;
    
}
.links{
    margin-left: 2vw;
    text-decoration: none;
    font-size: 3.7vw;
    color: #ff5202;
    border-radius: 15px;
}
.links:hover{
    color: var(--cor1);
    font-size: 4vw;
    background-color: var(--cor5);
    padding: 3px 3px 3px 3px; 
    border-radius: 10px;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
}
main{
    margin: auto;
    max-width: 1000px;
}
h2{
    text-align: center;
    margin: 1vw;
    padding-top: 5px;
    font-family: var(--fontetitulo1);
    color: black;
    background-image: linear-gradient(50deg, var(--cor1), var(--cor5));
    border-radius: 5px
}
.menu{
    background-color: transparent;
    color: black;
    position: relative;
    border-radius: 6px;
    font-size: 2.6vw;
}
#menutext{
    width: 45vw;
    text-align: center;
    background-color: var(--cor2);
    border-radius: 7px;
    font-size: 2.6vw;
    margin-left: 5vw;
    font-family: var(--fonttextos2);
    display: inline-block;
    margin-right: 5px;
}
.menutab{
    text-align: center;
    display: inline-block;
    background-color: var(--cor2);
    border-radius: 6px;
    font-size: 3vw;
    font-family: var(--fonttextos2);
    position: absolute;
    height: 35.9vw;
    width: 40vw;
    margin: auto;
}
#tab{
    margin: 15px;
}
#ser{
    font-size: 3vw;
    display: block;
    background-color: white;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 1px 20px 22px 3px black;
    position: relative;
}
.servico{
    background-color: var(--cor3);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding-top: 2px;
    font-size: 3.2vw;
}
.cortea{
    width: 27.6vw;
    column-count: 3;
    column-gap: 10vh;
    margin-left: 2vw;
    border-radius: 10px;
}
.cortel{
    width: 27.6vw;
    column-count: 3;
    column-gap: 10vh;
    margin-left: 2vw;
    border-radius: 10px;
}
.corteb{
    width: 40vw;
    column-count: 4;
    column-gap: 7vh;
    margin-left: 3vw;
    border-radius: 10px;
}
#qm{
    background-color: var(--cor2);
    border-radius: 6px;
    font-size: 3.4vw;
}
.textqm{
    text-indent: 10px;
    margin: 2px;
    font-size: 3vw;
    padding-left: 5px;
}
#fb{
    background-color: gray;
    background-image: url(img/lk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    box-shadow: inset 1px 20px 22px 3px black;
    font-size: 3.4vw;
}
#imgfeed{
    column-count: 3;
    column-gap: 37vw;
    margin-top: 7px;
}
.imgfeed{
    margin-left: 5.5vw;
    width: 38vw;
    border-radius: 10px;
}
#con{
    background-image: linear-gradient(to right, var(--cor1), var(--cor5));
    border-radius: 6px;
    padding: 5px;
    font-size: 3.4vw;
}
h3{
    text-align: center;
    font-size: 3.5vw;
}
#lf{
    text-decoration: none;
    color: rgba(0, 110, 255, 0.808);
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 3px 1px 1px;
    font-size: 4vw;
}
#lf:hover{
    text-decoration: none;
    background-color: rgba(0, 110, 255, 0.808);
    color: white;
    border-radius: 5px;
    font-size: 5vw
}
#li{
    color:  #fc1a7c;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 3px 1px 1px;
    font-size: 4vw;
}
#li:hover{
    background-image: linear-gradient(150deg, #432edb 8%, #fc1a7c 44%, #fec053);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 14px 5px 3px 3px;
    font-size: 5vw;

}
#lw{
    text-decoration: none;
    color: #04bd3e;
    border-radius: 5px;
    padding: 10px 3px 1px 1px; 
    font-size: 4vw;
}
#lw:hover{
    background-image: linear-gradient(180deg, #04bd3e, #008f33);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 13px 4px 3px 3px; 
    font-size: 5vw;
}
#btopo{
    font-size: 7vw;
    width: 23px;
    text-decoration: none;
    color: white;
}
#botaotopo{
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
}
#btopo:hover{
    padding-right: 5px;
    text-decoration: none;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 3vh;
}
footer a{
    text-decoration: none;
    color: var(--cor3);
}
.me:hover{
    text-decoration: none;
    transition-duration: 1s;
    font-size: 4vw;
}
a{
    transition-duration: 1s;
}
}