@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: "barberp";
    src: url(fonts/BrightnessInverted.ttf) format(opentype);
}
@font-face {
    font-family: "docktrin";
    src: url(fonts/docktrin.ttf) format(truetype);
}
:root{
    --cor1: #FFE545;
    --cor2: #FFCE45;
    --cor3: #FFB745;
    --cor4: #FF9A45;
    --cor5: #FF7945;
    --fontpadrao: Arial, Helvetica, sans-serif;
    --fonttextos: "Crimson Text", serif;
    --fonttextos2: "docktrin";
    --fontetitulo2: "barberp";
    scroll-behavior: smooth;
}
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}
.crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}
body{
    
    font-family: var(--fontpadrao);
    font-family: var(--fonttextos);
    margin: 0px;
    font-size: 2vw;
    background-color: rgb(39, 38, 38);
}
header{
    background-image: linear-gradient(to bottom, black, rgb(39, 38, 38));
}
#logot{
    text-align: center;
    margin: auto;
}
#titulop{
    background: -webkit-linear-gradient(50deg, #f7e04d, #ff5202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    font-family: var(--fontetitulo2);
    text-align: center;
    font-size: 8vw;
    margin: 2px;
}
nav{
    text-align: center;
    font-family: var(--fonttextos2);
    margin-bottom: 5px;
    
}
.links{
    margin-left: 4vw;
    text-decoration: none;
    font-size: 3.7vw;
    color: #ff5202;
}
a:hover{
    color: var(--cor1);
    font-size: 4vw;
    background-color: var(--cor5);
    padding: 3px 3px 3px 3px; 
    border-radius: 1px;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
}
main{
    margin: auto;
    max-width: 1000px;
}
h2{
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    font-family: var(--fontetitulo1);
    color: black;
    background-image: linear-gradient(50deg, var(--cor1), var(--cor5));
    border-radius: 5px
}
.menu{
    height: 46vh;
    background-color: transparent;
    color: black;
    position: relative;
    border-radius: 6px;
    font-size: 2.6vh;
}
#menutext{
        width: 45vw;
        text-align: center;
        background-color: var(--cor2);
        border-radius: 7px;
        font-size: 3vh;
        margin-left: 5vw;
        font-family: var(--fonttextos2);
        display: inline-block;
}
.menutab{
    text-align: center;
    display: inline-block;
    background-color: var(--cor2);
    border-radius: 6px;
    font-size: 3vh;
    margin: 0px 7px;
    font-family: var(--fonttextos2);
    position: absolute;
}
#tab{
    margin: 15px;
}
#ser{
    font-size: 2.3vh;
    height: 222vh;
    display: block;
    background-color: white;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 1px 20px 22px 3px black;
    position: relative;
}
.servico{
    background-color: var(--cor3);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding-top: 2px;
    font-size: 2.6vh;
}
#imgser1{
    height: 30vh;
    background-color: transparent;
    background-image: url(img/afro1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 21vw;
    display: inline-block;
    margin-left: 8vw;
    border-radius: 100%;
}
#imgser1:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgser2{
    height: 40vh;
    background-image: url(img/afro2.jpg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 21vw;
    display: inline-block;
    margin-left: 5vw;
    border-radius: 10px 20px 50px 10px;
}
#imgser2:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgser3{
    height: 30vh;
    background-color: transparent;
    background-image: url(img/afro3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 21vw;
    display: inline-block;
    margin-left: 5vw;
    border-radius: 10px;
}
#imgser3:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgcab1{
    height: 30vh;
    width: 21vw;
    display: inline-block;
    background-color: transparent;
    background-image: url(img/liso1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 6vw;
    border-radius: 10px;
}
#imgcab1:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgcab2{
    height: 40vh;
    width: 21vw;
    display: inline-block;
    background-color: transparent;
    background-image: url(img/liso2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 4vw;
    border-radius: 10px;
}
#imgcab2:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgcab3{
    height: 30vh;
    width: 21vw;
    display: inline-block;
    background-color: transparent;
    background-image: url(img/liso3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 4vw;
    border-radius: 10px;
}
#imgcab3:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgbar1{
    height: 30vh;
    width: 21vw;
    display: inline-block;
    position: relative;
    margin-left: 8vw;
    background-color: transparent;
    background-image: url(img/barba1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15vw;
    border-radius: 10px;
}
#imgbar1:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgbar2{
    height: 30vh;
    width: 21vw;
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-image: url(img/barba2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20vw;
    border-radius: 10px;
}
#imgbar2:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgbar3{
    height: 30vh;
    width: 21vw;
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-image: url(img/barba3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25vw;
    border-radius: 10px;
}
#imgbar3:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#imgbar4{
    height: 30vh;
    width: 21vw;
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-image: url(img/barbar4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5vw;
    border-radius: 10px;
}
#imgbar4:hover{
    height: 50vh;
    width: 30vw;
    transition-duration: 1s;
}
#qm{
    background-color: var(--cor2);
    border-radius: 6px;
    font-size: 2.6vh;
}
.textqm{
    text-indent: 10px;
    margin: 2px;
    font-size: 2.6vh;
    padding-left: 5px;
}
#fb{
    background-color: gray;
    background-image: url(img/lk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    box-shadow: inset 1px 20px 22px 3px black;
    font-size: 2.6vh;
}
#imgfeed{
    column-count: 1;
    column-gap: 40vw;
    margin-top: 7px;
}
.imgfeed{
    margin-left: 5.5vw;
    width: 38vw;
    border-radius: 40px;
}
#con{
    background-image: linear-gradient(to right, var(--cor1), var(--cor5));
    border-radius: 6px;
    padding: 5px;
}
h3{
    text-align: center;
}
#lf:hover{
    text-decoration: none;
    background-color: rgba(0, 110, 255, 0.808);
    color: white;
    border-radius: 5px;

}
#lf{
    border-radius: 5px;
    text-decoration: none;
    color: rgba(0, 110, 255);
    margin: 5px;
    padding: 12px 5px 3px 3px;
}
#li{
    color: #d52472;
    text-decoration: none;
    margin: 5px;
}
#li:hover{
    background-image: linear-gradient(150deg, #432edb 8%, #fc1a7c 44%, #fec053);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 5px 3px 3px;
}
#lw{
    color: #04bd3e;
    text-decoration: none;
    margin: 5px;
}
#lw:hover{
    background-image: linear-gradient(180deg, #04bd3e, #008f33);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 9px 5px 3px 3px; 
}
#lg{
    color: red;
    margin: 5px;
    display: inline;
}
#lg:hover{
    font-size: 3vw;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 10px 4px 4px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
    transition-duration: 1s;
    max-width: 15vw;
}
#lt{
    color: white;
    margin: 5px;
    display: inline;
}
#lt:hover{
    font-size: 2.5vw;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 16px 10px 4px 4px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
    transition-duration: 1s;
    max-width: 20vw;
}
#btopo{
    font-size: 7vh;
    width: 23px;
    text-decoration: none;
    color: white;
}
#botaotopo{
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
}
#btopo:hover{
    padding-right: 5px;
    text-decoration: none;
    color: var(--cor1);
    border-radius: 50%;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: var(--cor3);
}
footer a:hover{
    text-decoration: none;
    transition-duration: 1s;
}
a{
    transition-duration: 1s;
}